*{
    background-color: white;
    font-family: 'Urbanist', sans-serif;
}

.main-content{
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100%;
}

.header { grid-area: header;}
.leftside { grid-area: leftside; }
.rightside { grid-area: rightside; }


.grid-container {
    width: 100%;
    
    min-width: 300px;
    max-width: 1600px;
    display: grid;
    grid-template-areas:
    'header header'
    'leftside rightside';
    
    /* background-color: #2196F3; */
    border: 1px solid red;
    margin: 0px;
    grid-gap: 0;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    
}


  .grid-container div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px;
    
  }
.profile-image{
    width: 50%;
}
.profile-image img{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
}
.profile-container{
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
}
.info{
    width: 50%;
}
.info ul{
    font-size: 2.5vw;
    text-align: left;
    
}
ul{
    list-style: none;
    align-items: left;
    text-align: left;
    padding: 0.9em;
    margin: 0;
}
.leftside-container .rightside-container{
    
    text-align: left;
    
}
.leftside-container ul{
    font-size: 16px;
}
.leftside-container ul li{
  padding: 5px;
}

.rightside-container ul{
    font-size: 16px;
}
.leftside .rightside{
    width: 50%;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 3vw;
    }
    .leftside-container ul{
        font-size: 8px;
    }
    .rightside-container ul{
        font-size: 8px;
    }
    
    
  }

  progress{
    border: none;
    width: 15em;
    color: lightblue;
    background: crimson;
  }
  progress::-webkit-progress-value {
    
    background: orangered;
  }
progress:hover{
    width : 16em;
}

.header ul li:hover{
    color: orangered;
}

  ul li:hover{
    color: orangered;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}

#l{
    font-weight: bolder;
}
#l:hover{
    color: green;
    font-family: 'Lobster', cursive;
}
.rightside-container a{
    color: orangered;
    font-weight: bolder;
}